* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.204), rgba(0, 0, 0, 0.204)),
        url(/Background/Main-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.calculator {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border: 2px solid black;
}

#inputField {
    grid-column: span 4;
}

.all-clear {
    grid-column: span 4;
}
